/* Put your custom CSS here */
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#homecenter {
  width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
   text-align: center;
}

.jumlah {background:#999; color:#fff; text-align: center; margin:5px; font-size:1.5em; border-radius:0.6em;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8) inset; font-weight: normal; padding:5px;}

label {position:absolute; margin:10px; color:#333; z-index: 100; font-size: .9em;}
input {text-align: right;}